.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  flex-wrap: wrap;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.logout-btn {
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.logout-btn:hover {
  background-color: rgb(247, 242, 242);
}

@media (max-width: 768px) {
  .navbar h1 {
    font-size: 1.3rem;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-start;
    margin-top: 10px;
  }

  .navbar ul li {
    display: block;
  }

  .navbar ul li a {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
  }

  .navbar h1 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .logout-btn {
    width: 85px;
    height: 25px;
  }
}
